@import '@/styles/vars.scss';

.cart {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

	.count {
		position: absolute;
		border-radius: 100%;
		top: -8px;
		right: -10px;
		width: 18px;
		height: 18px;
		background-color: $primary;
        border: 2px solid #222;
		color: #222;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.4;
        letter-spacing: -1px;
	}

	:global {
		.icofont {
            margin-top: -5px;
            margin-left: 5px;
			font-size: 24px;
			color: $primary;
		}
	}
}
