@font-face {
    font-family: 'icofont';
    src: url(".//icofont.ttf?344949975f991a19c44443bdcfb74bac") format("truetype"),
url(".//icofont.woff?344949975f991a19c44443bdcfb74bac") format("woff"),
url(".//icofont.woff2?344949975f991a19c44443bdcfb74bac") format("woff2");
}

i[class^='icofont-']:before, i[class*=' icofont-']:before {
    font-family: icofont !important;
    font-style: normal;
    font-size: 1rem;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icofont-arrow-down:before {
    content: '\f101';
}
.icofont-arrow-up:before {
    content: '\f102';
}
.icofont-cart:before {
    content: '\f103';
}
.icofont-times-small:before {
    content: '\f104';
}
