$icofont-font: "icofont";

@font-face {
    font-family: $icofont-font;
    src: url(".//icofont.ttf?875b9f3b1b9582b981cd9128097a3235") format("truetype"),
url(".//icofont.woff?875b9f3b1b9582b981cd9128097a3235") format("woff"),
url(".//icofont.woff2?875b9f3b1b9582b981cd9128097a3235") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icofont {
    font-family: $icofont-font !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    font-size: 1rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icofont-map: (
    "arrow-down": "\f101",
    "arrow-up": "\f102",
    "cart": "\f103",
);

.icofont-arrow-down:before {
    content: map-get($icofont-map, "arrow-down");
}
.icofont-arrow-up:before {
    content: map-get($icofont-map, "arrow-up");
}
.icofont-cart:before {
    content: map-get($icofont-map, "cart");
}
