@font-face {
    font-family: 'icofont';
    src: url(".//icofont.ttf?f7b4039b47d71a36f9428053eeb24521") format("truetype"),
url(".//icofont.woff?f7b4039b47d71a36f9428053eeb24521") format("woff"),
url(".//icofont.woff2?f7b4039b47d71a36f9428053eeb24521") format("woff2");
}

i[class^='icofont-']:before, i[class*=' icofont-']:before {
    font-family: icofont !important;
    font-style: normal;
    font-size: 1rem;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icofont-arrow-down:before {
    content: '\f101';
}
.icofont-arrow-up:before {
    content: '\f102';
}
.icofont-cart:before {
    content: '\f103';
}
