@import '@/styles/vars.scss';

.cart {
	margin: 20px 0;
	display: flex;
	align-items: flex-start;

	.wrapper {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin-right: 20px;
	}

	.sidebar {
		width: 300px;
		min-height: 100px;
		padding: 20px;
		background-color: #fff;
		border-radius: $borderRadius;

		.title {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 35px;
			text-transform: uppercase;
		}

		.total {
			font-size: 22px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			span {
				font-size: 24px;
				font-weight: 900;
				margin-left: 10px;
				color: darken($successColor, 15%);
			}
		}
	}
}
