@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	font-family: 'Sofia Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-bottom: 100px;
	background-color: #f6f6f6;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	padding: 0 10px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.layerBlock {
	padding: 20px;
	border-radius: $borderRadius;
	margin-bottom: 20px;
	background-color: #fff;
}

.products-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.transition {
	transition: 0.2s all;
}

.space {
	flex-grow: 1;
}
