@import './vars.scss';

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	padding: 10px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.layerBlock {
	padding: 20px;
	border: 1px solid $dangerColor;
	border-radius: $borderRadius;
	margin-bottom: 20px;
}

.transition {
	transition: 0.2s all;
}
