$successColor: #c0d23e;
$dangerColor: #a82743;
$labelColor: #5c323e;

$gray0: #ddd;
$gray1: #ececec;
$gray2: #dedede;
$gray3: #cdcdcd;
$gray4: #bebebe;
$gray5: #a5a5a5;
$gray6: #747474;
$gray7: #595959;
$gray8: #434343;
$gray9: #222222;
