@font-face {
    font-family: 'icofont';
    src: url(".//icofont.ttf?7c555d38dd09f0bb3403a38eee9e55c3") format("truetype"),
url(".//icofont.woff?7c555d38dd09f0bb3403a38eee9e55c3") format("woff"),
url(".//icofont.woff2?7c555d38dd09f0bb3403a38eee9e55c3") format("woff2");
}

i[class^='icofont-']:before, i[class*=' icofont-']:before {
    font-family: icofont !important;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icofont-arrow-down:before {
    content: '\f101';
}
.icofont-arrow-up:before {
    content: '\f102';
}
.icofont-cart:before {
    content: '\f103';
}
.icofont-nophoto:before {
    content: '\f104';
}
.icofont-star-filled:before {
    content: '\f105';
}
.icofont-star:before {
    content: '\f106';
}
.icofont-times-small:before {
    content: '\f107';
}
.icofont-trash:before {
    content: '\f108';
}
