$icofont-font: 'icofont';

@font-face {
    font-family: $icofont-font;
    src: url(".//icofont.ttf?7c555d38dd09f0bb3403a38eee9e55c3") format("truetype"),
url(".//icofont.woff?7c555d38dd09f0bb3403a38eee9e55c3") format("woff"),
url(".//icofont.woff2?7c555d38dd09f0bb3403a38eee9e55c3") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icofont {
    font-family: $icofont-font !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    font-size: 1rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icofont-map: (
    'arrow-down': '\f101',
    'arrow-up': '\f102',
    'cart': '\f103',
    'nophoto': '\f104',
    'star-filled': '\f105',
    'star': '\f106',
    'times-small': '\f107',
    'trash': '\f108',
);

.icofont-arrow-down:before {
    content: map-get($icofont-map, 'arrow-down');
}
.icofont-arrow-up:before {
    content: map-get($icofont-map, 'arrow-up');
}
.icofont-cart:before {
    content: map-get($icofont-map, 'cart');
}
.icofont-nophoto:before {
    content: map-get($icofont-map, 'nophoto');
}
.icofont-star-filled:before {
    content: map-get($icofont-map, 'star-filled');
}
.icofont-star:before {
    content: map-get($icofont-map, 'star');
}
.icofont-times-small:before {
    content: map-get($icofont-map, 'times-small');
}
.icofont-trash:before {
    content: map-get($icofont-map, 'trash');
}
