$icofont-font: 'icofont';

@font-face {
    font-family: $icofont-font;
    src: url(".//icofont.ttf?344949975f991a19c44443bdcfb74bac") format("truetype"),
url(".//icofont.woff?344949975f991a19c44443bdcfb74bac") format("woff"),
url(".//icofont.woff2?344949975f991a19c44443bdcfb74bac") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icofont {
    font-family: $icofont-font !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    font-size: 1rem;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icofont-map: (
    'arrow-down': '\f101',
    'arrow-up': '\f102',
    'cart': '\f103',
    'times-small': '\f104',
);

.icofont-arrow-down:before {
    content: map-get($icofont-map, 'arrow-down');
}
.icofont-arrow-up:before {
    content: map-get($icofont-map, 'arrow-up');
}
.icofont-cart:before {
    content: map-get($icofont-map, 'cart');
}
.icofont-times-small:before {
    content: map-get($icofont-map, 'times-small');
}
