@import '@/styles/vars.scss';

.item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	width: 100%;
	padding: 20px;
	border-radius: $borderRadius;
	margin-bottom: 10px;
    transition: .12s;

    &:hover {
        box-shadow: 0 5px 20px rgba(0,0,0, .2);
    }

	img {
		min-width: 75px;
		width: 75px;
		height: 75px;
		object-fit: contain;
		margin-right: 20px;
	}

	.title {
		display: flex;
		flex-direction: column;

		strong {
			margin-bottom: 5px;
		}
	}

	.price {
		margin-left: 10px;
		font-size: 22px;
		min-width: 120px;
		text-align: right;
	}

	.delete {
		position: relative;
		margin-left: 30px;
		background: none;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $gray3;
		color: $gray4;
		width: 27px;
		height: 27px;
		border-radius: 30px;
		cursor: pointer;
		font-size: 1.9rem;
		transition: 0.1s all;

		@extend .icofont, .icofont-times-small;

		&:hover {
			border-color: $dangerColor;

			&:before {
				color: $dangerColor;
			}
		}
	}
}
