@import '@/styles/vars.scss';

.navbar {
	height: 70px;
	background-color: $successColor;
	text-align: center;
	display: flex;
	align-items: center;

	.wrapper {
		display: flex;
		align-items: center;
	}

	.logo {
		$logoColor: darken($successColor, 30%);

		border-radius: $borderRadius;
		font-size: 35px;
		font-weight: 600;
		color: $logoColor;
		display: flex;
		line-height: 1;
		padding-left: 10px;
		border: 2px solid $logoColor;
		overflow: hidden;

		span {
			text-transform: uppercase;
			font-size: 12px;
			text-align: left;
			background-color: $logoColor;
			display: flex;
			align-items: center;
			padding: 2px 10px;
			color: $successColor;
			margin-left: 10px;
		}
	}

	a {
		display: inline-block;
		margin-right: 30px;
		font-size: 20px;
		color: #222;
		text-decoration: none;

		&:hover {
			color: #444;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
