@import '@/styles/vars.scss';

.navbar {
	height: 50px;
	background-color: #2b312c;
	text-align: center;

	.wrapper {
		display: flex;
		align-items: center;
	}

	.logo {
		font-size: 35px;
		line-height: 50px;
		margin-right: 35px;
		color: $successColor;
	}

	a {
		display: inline-block;
		margin-right: 30px;
		color: #eee;
		text-decoration: none;

		&:hover {
			color: $successColor;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
